#root{
    --primary: #0061f2;
    --secondary:rgba(105, 0, 199, 0.8);
    --success: #00ac69;
    --info:#00cfd5;
    --warning: #f4a100;
    --danger: #f44336;
}

.p-section{
    padding: 0 3rem ;
}

#card-container{
    padding: 2rem;
}
/* ================ */
#dashboard-intro{
    padding-bottom: 8rem;
    background: linear-gradient(128deg, var(--primary), var(--secondary));
}


@media (max-width:767px){
    .mobile-none{
        display: none;
    }
}
@media (min-width:768px){
    .desktop-none{
        display: none;
    }
}


.openComp {
    animation: openComp 0.3s ease forwards;
}
@keyframes openComp{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* @media (max-width: 767px) {

} */